@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open_Sans';
  src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a.hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.3;
  z-index: 100;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.logo-mobile {
  display: none;
  text-align: center;
}
.header {
  padding: 0 15px;
  font-size: 14px;
  font-family: "Open_Sans";
  font-weight: 400;
  background-color: #222;
  color: #525252;
  display: flex;
  height: 45px;
  letter-spacing: 0.01em;
  align-items: center;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner a {
  font-size: 14px;
  font-family: "Open_Sans";
  font-weight: 400;
  background-color: #222;
  color: #525252;
}
.header-inner .web-info {
  display: flex;
}
.header-inner .web-info-button {
  display: flex;
}
.header-inner .web-info .info-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #525252;
  margin-right: 0px;
  margin-left: -4px;
}
.header-inner .web-info.active-nav {
  display: none;
}
.header-inner .control-box.active-nav {
  display: none;
}
.header-inner .control-box {
  display: flex;
}
.header-inner .control-box-icon {
  display: flex;
  margin-left: 27px;
}
.header-inner .control-box-icon .setting-icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  color: #525252;
  margin-right: 1px;
}
.header-inner .control-box-icon .icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  color: #525252;
}
.menu-bar {
  align-items: center;
  padding: 20px 15px 19px 15px;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 700;
  border-bottom: 1px solid #ddd;
}
.menu-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-bar-inner .shop-name {
  height: 36px;
  width: 184px;
  line-height: 36px;
  text-align: center;
  position: relative;
  padding-left: 12px;
  vertical-align: bottom;
  border: 2px solid #000;
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  letter-spacing: 0.764em;
}
.menu-bar-inner .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.menu-bar-inner .nav-bar nav .nav-icon {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
}
.menu-bar-inner .nav-bar nav .nav-icon i {
  font-size: 22px;
  vertical-align: bottom;
  padding-right: 15px;
}
.menu-bar-inner .nav-bar nav .navbar {
  align-items: center;
  display: flex;
}
.menu-bar-inner .nav-bar nav .navbar .nav-title {
  display: none;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #222;
  color: #fff;
  line-height: 40px;
  height: 43px;
  padding: 0 15px;
}
.menu-bar-inner .nav-bar nav .navbar .nav-item {
  margin-left: 28px;
  margin-right: 28px;
  display: inline-block;
}
.menu-bar-inner .nav-bar nav .navbar .nav-item a {
  text-transform: uppercase;
  font-size: 14px;
}
.menu-bar-inner .nav-bar nav .navbar .nav-item:last-child {
  margin-right: 57px;
}
.menu-bar-inner .nav-bar nav .navbar .nav-item.active > a {
  color: #8262b5;
}
.menu-bar-inner .nav-bar .search {
  width: 152px;
}
.menu-bar-inner .nav-bar .search form {
  display: flex;
  overflow: hidden;
}
.menu-bar-inner .nav-bar .search form .search-button {
  align-items: center;
}
.menu-bar-inner .nav-bar .search form .search-button button {
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 0;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
}
.menu-bar-inner .form-control-item {
  display: flex;
  align-items: center;
}
.menu-bar-inner .form-control-item .cart {
  display: flex;
}
.menu-bar-inner .form-control-item .cart i {
  vertical-align: middle;
  font-size: 29px;
  text-align: center;
}
.menu-bar-inner .form-control-item .cart .control-item-love {
  font-size: 29px;
  padding-right: 30px;
}
.menu-bar-inner .form-control-item .cart .control-item-cart {
  font-size: 29px;
}
.banner {
  padding: 0 30px;
}
.banner .banner-col {
  margin-top: -15px;
  overflow: hidden;
  height: 575px;
}
.banner .banner-left-button button {
  background-color: #8262b5;
  width: 106px;
  height: 40px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
.banner .banner-left-button a {
  align-items: center;
  color: #fff;
}
.banner-left {
  padding: 0 15px;
  margin: 30px 0;
  width: 66.67%;
  box-sizing: border-box;
  position: relative;
}
.banner-left .banner-inner {
  cursor: pointer;
  overflow: hidden;
  height: 100%;
}
.banner-left img {
  display: block;
  width: 100%;
}
.banner-left-content img {
  right: -6px;
  width: 324px;
  margin-right: -5px;
  margin-bottom: 2px;
}
.banner-left-detail {
  position: absolute;
  text-align: end;
  top: 50%;
  left: 50%;
  transform: translate(-38px, 39px);
}
.banner-right {
  padding: 0 15px;
  margin: 30px 0;
  width: 33.33%;
  box-sizing: border-box;
}
.banner-right-item {
  position: relative;
  padding: 13px 0;
  overflow: hidden;
}
.banner-right-item-inner {
  cursor: pointer;
}
.banner-right-1-content {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-124px, -17px);
  left: 50%;
  width: 187px;
}
.banner-right-1-content .content-line1 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #616161;
}
.banner-right-1-content .content-line2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
}
.banner-right-content {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-142px, -25px);
}
.banner-right-content .title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #616161;
}
.banner-right-content .content {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 17px;
}
.banner-right-content .banner-right-button {
  margin-left: 2px;
}
.banner-right-content .banner-right-button button {
  background-color: #8262b5;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
.banner-right-content .banner-right-button a {
  align-items: center;
  color: #fff;
}
.banner-right-content .banner-right-button .button-content {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
.feature-items {
  padding: 44px 30px;
}
.feature-items-group {
  padding: 0 14px;
}
.feature-items-group .title .shop-name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #8262b5;
  margin-bottom: 10px;
}
.feature-items-group .title .content {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 23px;
}
.feature-items-group .title hr {
  margin: 14px 0;
  border: 1px solid #8262b5;
  width: 50px;
}
.feature-items-row {
  margin: 0 -14px;
  padding-top: 10px;
}
.feature-items-row .product {
  width: 25%;
  padding: 25px 15px 24px 15px;
  box-sizing: border-box;
}
.feature-items-row .product .image {
  position: relative;
  padding-top: calc(264 / 214 * 100%);
}
.feature-items-row .product .image img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}
.feature-items-row .product .image .add-cartbutton {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 100%;
}
.feature-items-row .product .image .add-cartbutton button {
  background-color: #fff;
  width: 118px;
  height: 40px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.feature-items-row .product .image .add-cartbutton a {
  align-items: center;
  color: #424242;
}
.feature-items-row .product .name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  margin-top: 18px;
}
.feature-items-row .product .rating {
  display: inline-block;
}
.feature-items-row .product .rating i {
  width: 10px;
  color: #d1d1d1;
  font-size: 11px;
  padding-top: 12px;
}
.feature-items-row .product .rating .checked {
  color: #f8ba04;
}
.feature-items-row .product .price {
  padding-top: 2px;
  font-family: "Open_Sans";
  font-size: 16px;
}
.feature-items-row .product .price .off-sale {
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
}
.feature-items-row .product .price .sale {
  font-weight: 700;
  color: #8262b5;
}
.news {
  min-height: 707px;
  overflow: hidden;
  background-image: url("../img/Background.png");
  margin-top: 10px;
}
.news-title {
  width: fit-content;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px;
}
.news .slider {
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
}
.news .slider .slick-dots {
  bottom: -31px;
}
.news .slider .slick-dots li button:before {
  font-size: 10px;
  border-radius: 5px;
  color: #ccbfe0;
}
.news .slider .slick-dots li.slick-active button:before {
  color: #8262b5;
  transform: scale(1.4);
}
.news .slider-item {
  width: auto;
  background-color: #fff;
  margin: 15px;
}
.news .slider-item .news-img {
  position: relative;
}
.news .slider-item .news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.news .slider-item .news-img .news-date {
  position: absolute;
  padding: 6px 5px 3px 5px;
  top: 0;
  margin: 22px 20px;
  background-color: #a1d1dd;
  font-family: "Montserrat";
  color: #fff;
}
.news .slider-item .news-img .news-date .date {
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #fff;
  border-bottom: 2px solid #fff;
}
.news .slider-item .news-img .news-date .month {
  font-weight: 400;
  font-size: 14px;
  margin: 9px 0 0 0;
}
.news .slider-item .news-img .news-date .day {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}
.news .slider-item .slider-content {
  padding: 16px 19px;
}
.news .slider-item .slider-content .slider-title {
  font-family: "Montserrat";
  font-size: 16px;
  margin-bottom: 17px;
  font-weight: 400;
  color: #000;
}
.news .slider-item .slider-content .slider-details {
  font-family: 'Open_Sans';
  font-weight: 400;
  font-size: 14px;
  color: #424242;
  line-height: 1.59;
  letter-spacing: 0.017em;
}
.news .slider-item .react-btn {
  border-top: 1px solid #ededed;
  display: flex;
  padding: 16px 20px;
  padding-bottom: 19px;
  color: #c4c4c4;
  font-family: "Open_Sans";
  font-weight: 400;
  font-size: 14px;
}
.news .slider-item .react-btn .like {
  margin: 0 32px;
}
.news .slider-item:hover .slider-title {
  color: #8262b5;
}
.footer {
  background-color: #222;
}
.footer .footer-top {
  height: auto;
  border-bottom: 1px solid #393939;
}
.footer .footer-bottom {
  height: auto;
}
.footer .footer-bottom span {
  font-family: "Open_Sans";
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  letter-spacing: 0.016em;
}
.footer .footer-bottom .row {
  padding: 25px 15px;
  justify-content: space-between;
  border-bottom: 1px solid #393939;
}
.footer .footer-bottom .row .payment {
  font-size: 22.6px;
  color: #888888;
}
.footer .about {
  font-family: "Open_Sans";
  font-size: 14.5px;
  font-weight: 400;
  color: #888888;
  padding-top: 24px;
  width: 25%;
  padding: 50px 15px 42px 15px;
  box-sizing: border-box;
}
.footer .about .social {
  margin-top: 45px;
}
.footer .about .social i {
  margin-right: 30px;
  color: #828282;
  font-size: 15px;
}
.footer .name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #f7f7f7;
  margin-top: 9px;
  padding-bottom: 27px;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #393939;
}
.footer .show {
  display: none;
}
.footer .show:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .hide {
  padding-top: 20px;
  display: none;
}
.footer .hide:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .describe {
  font-family: "Open_Sans";
  font-size: 14.5px;
  font-weight: 400;
  color: #888888;
  line-height: 1.5;
  padding-top: 24px;
}
.footer .describe a {
  color: #888888;
}
.footer .navigation {
  width: 50%;
  padding: 50px 15px 42px 15px;
  box-sizing: border-box;
  padding: 50px 112px 0px 112px;
}
.footer .navigation .show-btn-group {
  display: none;
  width: 100%;
  box-sizing: border-box;
  color: #888888;
  font-family: "Open_Sans";
  font-size: 14px;
  font-weight: 400;
}
.footer .navigation .show-btn-group .show-left {
  width: 54%;
}
.footer .navigation nav {
  display: flex;
  flex-wrap: wrap;
}
.footer .navigation nav .nav-item {
  width: 46%;
  box-sizing: border-box;
  font-family: "Open_Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 9px;
}
.footer .navigation nav .nav-item-right {
  width: 54%;
}
.footer .navigation nav a {
  color: #888888;
}
.footer .navigation nav a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer .contact {
  width: 25%;
  padding: 50px 15px 42px 15px;
  box-sizing: border-box;
  padding-right: 65px;
}
.footer .contact nav {
  padding-top: 30px;
}
.footer .contact i {
  padding-right: 14px;
}
.footer .contact i .icon {
  margin: auto 0;
}
.footer .contact li {
  display: flex;
  padding-bottom: 10px;
}
.footer .contact li .content {
  line-height: 2.2;
  margin-top: -8px;
}
.footer .contact .address-mobile {
  display: none;
}
.footer .contact .phone-mobile {
  display: none;
}
.footer .contact .phone i {
  font-size: 12px;
  padding-right: 19px;
}
.footer .contact .mail i {
  font-size: 15px;
  padding-right: 15px;
}
.footer .contact .mail-mobile {
  display: none;
}
@media all and (max-width: 1380px) {
  .logo-mobile {
    display: block;
  }
  .menu-bar-inner .logo {
    display: none;
  }
  .menu-bar-inner .nav-bar nav .nav-icon {
    display: block;
  }
  .menu-bar-inner .nav-bar nav .navbar {
    padding: none;
    display: block;
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
    -moz-transform: translateX(-500%);
    -o-transform: translateX(-500%);
    position: fixed;
    top: 45px;
    left: 0;
    background-color: #fff;
    height: 75vh;
    width: 30%;
    z-index: 999;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
  }
  .menu-bar-inner .nav-bar nav .navbar .nav-title {
    display: block;
  }
  .menu-bar-inner .nav-bar nav .navbar .nav-item {
    display: block;
    padding: 5px 0;
  }
  .menu-bar-inner .nav-bar nav .active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .menu-bar-inner .nav-bar .search {
    width: 150px;
  }
}
@media all and (max-width: 1200px) {
  .banner {
    padding: 0;
  }
  .banner img {
    width: 100%;
  }
  .banner-left {
    transition: all, 1.5s;
    -webkit-transition: all, 1.5s;
    -moz-transition: all, 1.5s;
    -o-transition: all, 1.5s;
    width: 100%;
  }
  .banner-right {
    transition: all, 1.5s;
    -webkit-transition: all, 1.5s;
    -moz-transition: all, 1.5s;
    -o-transition: all, 1.5s;
    padding: 0 15px;
    margin: 0;
    width: 100%;
  }
  .banner-right-item {
    width: 50%;
    padding: 0 15px;
  }
  .banner-right-item-inner-2 {
    position: relative;
    overflow: hiden;
    height: 100%;
  }
  .banner-right-item-inner-2 img {
    position: absolute;
    top: 0;
    right: 0;
  }
  .banner-right-1-content {
    transform: translateY(-21px);
    left: 32px;
    width: auto;
  }
  .banner-right-content {
    transform: translateY(51px);
    left: 13px;
  }
  .banner .banner-col {
    align-items: none;
    display: flex;
    margin: 0 -15px;
    height: auto;
    overflow: hidden;
  }
  .feature-items {
    padding: 0;
  }
  .footer .footer-top .navigation {
    padding: 50px 85px;
  }
  .footer .footer-top .navigation nav .navbar-footer-right {
    padding-right: 88px;
  }
}
@media all and (max-width: 900px) {
  .header-inner .control-box .control-box-icon {
    margin-left: 10px;
  }
  .header-inner .control-box .control-box-icon .content {
    display: none;
  }
  .footer .contact {
    padding-right: 15px;
  }
  .footer .contact .describe .address {
    display: none;
  }
  .footer .contact .describe .phone {
    display: none;
  }
  .footer .contact .describe .mail {
    display: none;
  }
  .footer .contact .describe .address-mobile {
    display: block;
  }
  .footer .contact .describe .phone-mobile {
    display: block;
  }
  .footer .contact .describe .mail-mobile {
    display: block;
  }
  .footer .contact .describe .content {
    display: none;
  }
  .footer .footer-top .about .show {
    display: block;
  }
  .footer .footer-top .about .describe {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .feature-items-row .product {
    transition: all, 1.5s;
    -webkit-transition: all, 1.5s;
    -moz-transition: all, 1.5s;
    -o-transition: all, 1.5s;
    width: 50%;
    padding: 25px 15px 24px 15px;
    box-sizing: border-box;
  }
  .footer .footer-top .about {
    width: 30%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
  }
  .footer .footer-top .about .social i {
    margin-right: 10px;
  }
  .footer .footer-top .navigation {
    width: 40%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
  }
  .footer .footer-top .navigation .show-btn-group {
    display: flex;
  }
  .footer .footer-top .navigation nav .nav-item {
    display: none;
    width: 50%;
  }
  .footer .footer-top .navigation nav .nav-item-right {
    display: none;
    width: 50%;
  }
  .footer .footer-top .contact {
    width: 30%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 530px) {
  .footer .footer-top .about {
    width: 50%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
  }
  .footer .footer-top .navigation {
    width: 50%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
  }
  .footer .footer-top .contact {
    width: 100%;
    padding: 50px 15px 42px 15px;
    box-sizing: border-box;
    display: flex;
    padding: 0 15px;
  }
  .footer .footer-top .contact .name {
    border: none;
    border-right: 1px solid #393939;
    margin-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .footer .footer-top .contact .describe {
    padding: 0px 15px;
    display: flex;
  }
}
@media all and (max-width: 483px) {
  .header-inner .web-info-button {
    display: none;
  }
  .menu-bar-inner .nav-bar nav .nav-icon {
    display: block;
  }
  .menu-bar-inner .nav-bar nav .navbar {
    width: 50%;
  }
  .banner .banner-left-button {
    transform: scale(0.8);
  }
}
@media all and (max-width: 375px) {
  .feature-items-row .product .image .add-cartbutton button {
    width: 79px;
    height: 23px;
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */