@media all and (max-width: 1380px) {
    .logo-mobile {
        display: block;
    }
    .menu-bar {
        &-inner {
            .logo {
                display: none;
            }
            .nav-bar{
                nav {
                    .nav-icon {
                        display: block;
                    }
                    .navbar {
                        padding: none;
                        display: block;
                        .transit(all, .5s);
                        // text-align: center;
                        .transformer(translateX(-500%));
                        position: fixed;
                        top: 45px;
                        left: 0;
                        background-color: #fff;
                        height: 75vh;
                        width: 30%;
                        z-index: 999;
                        border-right: 2px solid @bg-header;
                        border-bottom: 2px solid @bg-header;
                        .nav-title {
                            display: block;
                            // width: 100%;
                        }
                        
                        .nav-item {
                            // display: none;
                            display: block;
                            // width: 100%;
                            &:last-child { 
                                
                            }
                            padding: 5px 0;
                        }
                        
                    }
                    .active {
                            .transformer(translateX(0%));
                    }
                }
                .search {
                    width: 150px;
                }

            }
            
        }
    }
}
@media all and (max-width: 900px) {
    .header {
        &-inner {
            .control-box {
                .control-box-icon {
                        margin-left: 10px;
                    .content {
                        display: none;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 760px) {
    
}
@media all and (max-width: 483px) {
    .header {
        &-inner {
            .web-info-button {
                display: none;
            }
        }
    }
    .menu-bar {
        &-inner {
            .nav-bar{
                nav {
                    .nav-icon {
                        display: block;
                    }
                    .navbar {
                        width: 50%;
                    }
                }
            }
               
        }
    }
    
}
@media all and (max-width: 375px) {
    
}